:host {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.3rem 1rem 0.5rem;

  .left {
    flex: 1 1 100%;

    .title-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    :is(h1, p) {
      margin: 0;
    }
  }

  .right {
    display: flex;
    gap: 1rem;
    align-items: center;

    .theme-switch {
      background: none;
      border-radius: 50%;
      font-size: 1.2rem;
      aspect-ratio: 1/1;

      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }
}
