/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --primary-700: #1976d2;
  --primary-600: #1e88e5;
  --primary-500: #2196f3;
  --primary-400: #42a5f5;
  --primary-300: #64b5f6;
  --neutral: white;
}

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
}

button {
  border: none;

  padding: 0.6rem 1.4rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  //&:hover {
  //  background: var(--primary-300);
  //}
  //
  //&:active {
  //  background: var(--primary-400);
  //}
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
