<div class="content">
  <span>{{ toDoItem.rank + 1 }}</span>
  <input type="checkbox" [formControl]="toDoListItemFormControl" />
  <span
    #toDoValue
    class="to-do-name"
    [class.is-done]="toDoListItemFormControl.value"
    [attr.contenteditable]="isInEditMode">
    {{ toDoItem.name }}</span
  >
</div>

<div class="actions">
  <button
    class="small"
    [disabled]="isFirst$ | async"
    [title]="'TODO_LIST.MOVE_UP' | translate"
    (click)="onMoveItemClick($event, true)">
    ⬆
  </button>
  <button
    class="small"
    [disabled]="isLast$ | async"
    [title]="'TODO_LIST.MOVE_DOWN' | translate"
    (click)="onMoveItemClick($event, false)">
    ⬇
  </button>
  <button *ngIf="!isInEditMode" class="edit-button" (click)="onEditClick($event)">
    {{ 'TODO_LIST.EDIT' | translate }}
  </button>
  <button *ngIf="isInEditMode" class="edit-button" (click)="onSaveClick($event)">
    {{ 'TODO_LIST.SAVE' | translate }}
  </button>
  <button class="delete-button" (click)="onDeleteClick($event)">
    {{ 'TODO_LIST.DELETE' | translate }}
  </button>
</div>

<div class="mobile-menu" (click)="$event.stopPropagation()">
  <app-dropdown-button [items]="dropdownItems" [classNames]="['dropdown']">
    <img class="icon-menu" src="assets/icons/more_vertical.svg" />
  </app-dropdown-button>
</div>
