:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

button {
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  :host {
    gap: 0;
    padding: 0;
  }

  .add-button {
    margin: 2rem 1rem;
  }
}
