<button
  mat-icon-button
  [matMenuTriggerFor]="menu"
  (click)="toggleDropdown()"
  [ngClass]="classNames"
  aria-label="">
  <ng-content></ng-content>
</button>
<mat-menu #menu="matMenu" [classList]="'dropdown-content'" class="dropdown-content">
  <ng-container *ngFor="let item of items">
    <button
      *ngIf="(item.disabled$ | async) === false || !item.disabled$"
      mat-menu-item
      (click)="item.callback($event)">
      <mat-icon *ngIf="item.icon" class="icon">{{ item.icon }}</mat-icon>
      <span>{{ item.value$ ? (item.value$ | async) : item.value ? item.value : '' }}</span>
    </button>
  </ng-container>
</mat-menu>
