:host {
  position: relative;

  button {
    padding: 4px;
    border: none;
    background: none;
  }
}

.dropdown-content {
  button {
    display: flex;
    align-items: center;
    gap: 0.7rem;

    mat-icon.icon {
      color: var(--neutral);
    }
  }
}
